.menu {
  color: #fff;
  box-sizing: border-box;
  height: 100vh;
  background-color: #d12d35;
  text-transform: uppercase;

  &__nav {
    margin-bottom: 32px;
  }

  &__top {
    padding-bottom: 32px;
  }

  &__content {
    padding-inline: 20px;
  }

  &__contacts {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
  }

  &__call-to-order {
    display: block;
    color: inherit;
    text-decoration: none;
    width: fit-content;
    padding: 16px 0 6px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    border-bottom: 1px solid #fff;
  }
}
